mat-expansion-panel {
    margin-bottom: 10px;
    height: auto;
}
.buttonInline {
    display: flex;
    align-items: center;
}
p {
    color: white;
}
span.mat-expansion-indicator {
    padding-right: 30px;
}
button {
    width: 100px;
}