<mat-card>
    <form (submit)='onAddTodo(newTodo)' #newTodo='ngForm'>
        <mat-form-field class="title">
            <mat-label>Title</mat-label>
            <input matInput name='title' ngModel required #title='ngModel'>
            <mat-error *ngIf='title.invalid'>Please enter Todo</mat-error>     
        </mat-form-field> 
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput rows="1" name='description' ngModel #description='ngModel' ></textarea>
        </mat-form-field>
        <button mat-raised-button color='primary' type='submit'>ADD</button>
    </form>
</mat-card>